@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono";
}

/* Banner section start from here */
.banner {
    width: 100%;
    height: 652px;
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 74px;
}

.banner .banner-info {
    width: 90%;
    height: 310px;
    margin: 0 auto;
}

.banner .banner-info .banner-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    margin-bottom: 24px;
}

.banner .banner-info .banner-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 32px;
}

.banner .banner-info .banner-btn {
    background-color: #0d1321;
    border-radius: 8px;
    padding: 21px 24px;
    border: none;
    color: #ffffff;
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
/* Banner section end here */

/* Why web development section start from here*/

main {
    width: 80%;
    height: max-content;
    margin: 0 auto;
}

main .web-dev {
    background-color: #0d132105;
    width: 100%;
    height: max-content;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 88px;
    border-radius: 16px;
}

main .web-dev .info-container {
    width: 90%;
    height: 115px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
}

main .web-dev .info-container .title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

main .web-dev .info-container .description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}

main .web-dev .card {
    width: 90%;
    height: 336px;
    border-radius: 16px;
    margin: 0 auto;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .web-dev .card .card-title {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 16px;
}

main .web-dev .card .card-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 32px;
}

main .web-dev .card .card-btn {
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px;

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

main .web-dev .card .card-info,
.card-image {
    margin: 0 48px;
}

main .web-dev .card1 {
    background: linear-gradient(
        90deg,
        rgb(255, 255, 255),
        rgba(255, 255, 255, 0) 100%
    );
}

main .web-dev .card2 {
    background: linear-gradient(
        270deg,
        rgb(255, 255, 255),
        rgba(255, 255, 255, 0) 100%
    );
}

main .web-dev .card3 {
    background: linear-gradient(
        90deg,
        rgb(255, 255, 255),
        rgba(255, 255, 255, 0) 100%
    );
}
/* Why web development section end here */

main .inspiration {
    width: 100%;
    height: 775px;
    margin-bottom: 150px;
}

main .inspiration .inspiration-info {
    text-align: center;
    width: 80%;
    height: 113px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.inspiration .inspiration-info .inspiration-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.inspiration .inspiration-info .inspiration-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.inspiration .inspiration-video {
    width: 100%;
    height: 614px;
    border: 1px solid #0d132133;
    margin: 0 auto;
    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.inspiration-video iframe {
    border-radius: 16px;
}
/* Inspiration section end here */

/* Current target section start from here */

.current-target {
    width: 100%;
    height: max-content;
    text-align: center;
    margin-bottom: 110px;
}

.current-target .target-info .target-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}

.current-target .target-info .target-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

.current-target .target-language-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-align: left;
    margin-top: 48px;
}

.current-target .target-language-container .target {
    width: 24%;
    padding: 40px;
    border-radius: 16px;
}

.current-target .target-language-container .target .target-title {
    color: #0d1321;
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    margin-top: 24px;
    margin-bottom: 8px;
}

.current-target .target-language-container .target .target-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 24px;
}

.current-target .target-language-container .target .learn-more {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
    cursor: pointer;
}

.current-target .target-language-container .target-1 {
    background: #ff4c1e0d;
}

.current-target .target-language-container .target-2 {
    background: #004ce80d;
}

.current-target .target-language-container .target-3 {
    background-color: #ffdf000d;
}
/* Current target section end here */
